.profile {
   background-color: rgb(228, 228, 228);
   overflow: auto;
   height: 82vh;
}

.topImg{
   width: 100%;
   height: 200px;
}

.posts{
   width: 100%;
   background-color: rgb(228, 228, 228);
}