.btnFollow {
   display: flex;
   align-items: center;
   justify-content: center;
   position: absolute;
   bottom: 0;
   right: 0;
   width: 140px;
   height: 30px;
   color: #fff;
   font-size: 16px;
   font-weight: 700;
   text-transform: lowercase;
   text-decoration: none;
   background-color: rgb(196, 0, 0);
   outline: none;
   cursor: pointer;
}
.btnOnFollow {
   @extend .btnFollow;
   background-color: rgb(216, 216, 216);
   color: rgba(0, 0, 0, 0.575);
   border: none;
}