.user {
   width: 100%;
   min-height: 500px;
   background-color: rgb(247, 247, 247);
   padding: 10px;

   &__inner {
      display: flex;
      width: 100%;
      height: 100%;

      h2 {
         margin: 0;
         width: 200px;
      }
   }
}

.UserImgBtnStatus {
   width: 30%;

   .avatar {
      width: 250px;
      height: 250px;
      border-radius: 5px;
   }

   .followedBtn {
      position: relative;
      width: 140px;
      height: 30px;
      margin: 10px;

      button i {
         display: flex;
         align-items: center;
         justify-content: center;
         color: #fff;
         background-color: rgba(0, 0, 0, 0, );
      }
   }

   h2 {
      margin-bottom: 10px;
   }

   i {
      color: rgb(36, 36, 36);
      background-color: rgb(240, 240, 240);
      padding: 5px 10px;
   }
}


.UserInformData {
   position: relative;
   width: 50%;
}