.MyProfile {
   width: 100%;
   height: 100%;
   padding: 20px;
   overflow: auto;
   &__user {
      height: 600px;
   }

   &__posts {
      overflow: auto;
   }

}

.MyProfile__user {
   display: flex;
}

.UserInform {
   &__name {
      font-size: 32px;
      margin-bottom: 20px;
   }

   &__status {
      border-bottom: 1px solid rgba(0, 0, 0, 0.158);

      .MyStatus {
         display: flex;
         align-items: center;
         font-size: 18px;
         margin-bottom: 5px;

         i {
            margin-left: 10px;
            font-size: 13px;
            cursor: pointer;

            &:hover {
               color: #133ecc;
            }
         }
      }
   }
}

.UserInform_wrapper{
   position: relative;
   width: 400px;
   .fa-pencil{
      position: absolute;
      right: -50px;
      cursor: pointer;
   }
}

.UserInform__data {
   margin-top: 20px;
   font-size: 16px;
   font-weight: 500;

   &-inner {
      display: flex;
      margin-bottom: 10px;
      input{
         border: none;
         border-bottom: 1px solid #ccc;
         outline: none;
      }
      textarea{
         width: 300px;
         height: 100px;
         padding: 10px;
         font-size: 17px;
      }

      b {
         margin-right: 10px;
      }

      p {
         i {
            font-size: 14px;
            font-weight: 200;
         }
      }

      a {
         text-decoration: none;
         color: #000;
      }
   }
}

.MyPhotoWrapper {
   position: relative;
   width: 300px;
   height: 300px;
   margin: 0 30px 30px 0;

   #inputPhoto {
      display: none;
      position: absolute;
      top: 40px;
      right: 70px;
   }

   .AddAvatarSVG {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 30px;
      fill: rgba(0, 0, 0, 0.8);
      transition: all .1s linear;
      opacity: 0;
      cursor: pointer;

      &:hover {
         fill: rgba(0, 0, 0, 0.4);

      }
   }

   &:hover {
      .AddAvatarSVG {
         opacity: 1;
      }
   }
}

.MyAvatar {
   width: 100%;
   height: 100%;
}

.UserSocial {
   p {
      margin-left: 20px;
      padding-top: 5px;

      i {
         font-size: 14px;
         font-weight: 200;
      }
   }
}

.UpdateDataSucces{
   color: green;
}