.MusicList{
   display: flex;
   flex-direction: column;
   align-items: center;   
   margin-top: 30px;
   overflow: auto;
   &::-webkit-scrollbar{
      width: 0;
   }
   .item{
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 55px;
      margin: 5px;
      padding: 3px 10px;
      background-color: #f1f3f4;
      border-radius: 50px;
      audio{
         height: 40px;
         outline: none;
      }
      img{
         height: 40px;
         width: 40px;
         margin: 0 10px 0 5px
      }
      .num{
         display: flex;
         justify-content: center;
         align-items: center;
         width: 30px;
         height: 100%;
         color: rgb(0, 0, 0);
         font-size: 18px;
      }
   }
}

.description{
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 200px;
   height: 100%;
   h4{
      height: 40%;
      width: 100%;
      overflow: hidden;
   }
   p{
      height: 40%;
      width: 100%;
   }
}

.noSongsText {
   margin-top: 20px;
   font-size: 32px;
   color: #ccc;
}