
.dialog{
   text-decoration: none;
   color: rgb(172, 172, 172);
}


.listItem {   
   display: flex;
   align-items: center;
   width: 100%;
   height: 40px;
   margin-bottom: 5px;
   cursor: pointer;
   img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin: 0 10px 0 5px;
   }

   p {
      font-weight: 700;
   }
}
.active {
   .listItem {
      background-color: rgba(0, 0, 0, 0.116);
      border-radius: 50px;
      p {
         color: rgb(0, 0, 0);
      }
   }
}