
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p{
  margin: 0 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-layout {
  height: 100%;
}

.ant-layout-header {  
  position: relative !important;
}

.ant-layout-sider {

}
.ant-layout-content{
  padding: 20px !important;
}
.ant-layout-footer {
  display: flex;
  justify-content: center;
  padding: 10px !important;
  background-color: #2c2925 !important;
}


.ant-menu{
  font-size: 16px !important;
  font-weight: 600;
}

.ButtonMenu{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 16px 25px;
}

.trigger{
  color: rgba(255, 255, 255, 0.692) !important;
  font-size: 30px !important;
  transition: color 0.1s linear;
}

.trigger:hover{
  color: #fff !important;
}
