$left-color: #242e4d;
$right-color: #897e79;
$green-dark: #03720c;
$green-light: #0aaf5d;
$gray: #8f8f8f;
$gray-light: #f5f6f8;

* {
   -webkit-font-smoothing: antialiased;
   text-rendering: optimizeLegibility;
}

.login-form {
   width: 400px;
   position: relative;
   background: rgba(black, .15);
   padding: 40px;
   margin: 30px auto;

   &:before {
      content: '';
      position: absolute;
      top: -2px;
      left: 0;
      height: 2px;
      width: 100%;

      background: linear-gradient(to right,
            $green-dark,
            $green-light);
   }
}

.flex-row {
   display: flex;
   margin-bottom: 1em;
}

.lf--label {
   width: 2em;
   display: flex;
   align-items: center;
   justify-content: center;

   background: $gray-light;
   cursor: pointer;
}

.lf--input {
   flex: 1;
   padding: 1em;
   border: 0;
   color: $gray;
   font-size: 1rem;

   &:focus {
      outline: none;
      transition: transform .15s ease;
      transform: scale(1.1);
   }
}

.lf--submit {
   display: block;
   padding: 1em;
   width: 100%;
   margin-top: 10px;
   background: linear-gradient(to right,
         $green-dark,
         $green-light);
   border: 0;
   color: #fff;
   cursor: pointer;
   font-size: 0.9em;
   font-weight: 600;
   text-shadow: 0 1px 0 rgba(black, .2);

   &:focus {
      outline: none;
      transition: transform .15s ease;
      transform: scale(1.1);
   }
}

.lf--forgot {
   margin-top: 1em;
   color: $green-light;
   font-size: .65em;
   text-align: center;
   position: relative;
}

::placeholder {
   color: $gray;
}

.checkBox {
   margin: 10px;
   color: #fff;
   text-transform: lowercase;

}

#rememberMe{
   cursor: pointer;
   &:checked + .checkBox {
      color: rgb(131, 255, 131);
   }
}

.formError{
   position: absolute;
   top: 5px;
   left: 50%;
   transform: translateX(-50%);
   p{
      color: red;
   }
}