.setting {
   h3{
   font-size: 30px;
   }
}
.choiceColor{
   p{
      font-size: 20px;
   }
   label{
      margin-left: 10px;
   }
   input{
      width: 50px;
      height: 25px;
      border: none;
      cursor: pointer;
   }
}
